<launch>
    <node name="lane_detection_1221_3" pkg="lane_detection_1221_3" type="lane_detection_1221_3" output="screen"/>
    

    <!-- usb_cam -->
    <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/videoCAM" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="exposure" value="67" />
    <param name="io_method" value="mmap"/>
    </node>


    <!-- Xycar motor -->
    <include file="$(find xycar_motor)/launch/xycar_motor.launch" />
</launch>
